body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: inline-block;
}

.textColor {
    margin: 15px;
}

.textSize {
    margin: 15px;
}

.bgColor {
    margin: 15px;
}

select {
    cursor: pointer;
}